<mat-radio-group class="radio-group index-radio-button" value="0">
    <mat-radio-button #checkIfSitters class="radio-button cool-link sitters-headline" [routerLink]="['../sitter-list']" value="1">Sitters</mat-radio-button>
    <mat-radio-button #checkIfPets class="radio-button cool-link pets-headline" [routerLink]="['../pet-list']" value="0">Pets</mat-radio-button>
</mat-radio-group>

<h5 class="primary mb-4 mt-3">Find a pet to sit</h5>


<form id="search-filter">
  <label>Search:</label>
  <input type="text" [(ngModel)]="term" name="term"/>
</form>

<div class="card-container">
  <mat-card class="example-card" *ngFor="let pet of pets | petFilter:term">
    <!-- ngFor allows it to know {{pet.firstname}} etc -->
    <mat-card-header>   
      <img mat-card-avatar class="example-header-image" src="{{pet.sitterAvatar}}">
      <mat-card-title (click)="goToRoute()">{{pet.name}}</mat-card-title>
      <mat-card-subtitle>{{pet.location}}</mat-card-subtitle>
    </mat-card-header>
    <div class="card-img-caption">
      <div class="text"></div>
      
      <img (click)="goToRoute()" class="list-picture" mat-card-image src={{pet.petPicture}} alt={{pet.petName}}> 
      
    </div>
    <mat-card-content>
      <p>
          {{pet.description}}
      </p>
      <a [routerLink]="['/index/pet', pet.petId]">Read more</a>
    </mat-card-content>
  </mat-card>
</div>