<mat-toolbar class="row">

  <div class="col-auto">
    <button mat-button routerLink="index">
      <i class="material-icons md-36">pets</i>
    </button>
    <button mat-button routerLink="contact">Contact</button>
    <button mat-button routerLink="portal">Portal</button>
  </div>

  <div class="col-auto ml-auto">
    <button mat-button routerLink="login">Login</button>
    <button mat-button routerLink="register">Register</button>
    <button mat-button routerLink="profile">
      <i class="material-icons md-36">account_circle</i>
    </button>
  </div>

</mat-toolbar>

