<mat-radio-group class="radio-group index-radio-button" value="0">
    <mat-radio-button #checkIfSitters class="radio-button cool-link sitters-headline" [routerLink]="['../sitter-list']" value="1">Sitters</mat-radio-button>
    <mat-radio-button #checkIfPets class="radio-button cool-link pets-headline" [routerLink]="['../pet-list']" value="0">Pets</mat-radio-button>
</mat-radio-group>

<h5 class="primary mb-4 mt-3">Find a sitter for you</h5>

<form id="search-filter">
  <input type="text" [(ngModel)]="term" name="term"/>
  <label><i class="fas fa-search"></i></label>
</form>

<mat-slide-toggle class="toggle-sitters" (click)=filterUsers()>Only sitters</mat-slide-toggle>

<div class="card-container">
  <mat-card class="example-card" *ngFor="let sitter of sitters | userFilter:term">
    <!-- ngFor allows it to know {{sitter.firstname}} etc -->
    <mat-card-header>
      <img mat-card-avatar class="example-header-image" src="{{sitter.avatar}}">
      <mat-card-title>{{sitter.firstname}} {{sitter.lastname}}</mat-card-title>
      <mat-card-subtitle>{{sitter.education}}</mat-card-subtitle>
    </mat-card-header>
    <img class="list-picture" mat-card-image src={{sitter.picture}} alt="Photo of a Shiba Inu">
    <div class="filter" [routerLink]="['/index/sitter', sitter.userId]"></div>
    <div class="mat-card-content">
        <h5 class="text-left card-text-headline">About {{sitter.firstname}}:</h5>
        <div class="description mb-3">
            <p class="text-left">{{sitter.description}}</p>
        </div>
      <mat-card-actions>
          <a class="read-more-link" [routerLink]="['/index/sitter', sitter.userId]"><button mat-stroked-button>Read more</button></a>
      </mat-card-actions>
    </div>
  </mat-card>
</div>