<div *ngFor="let value of pet" class="container custom-register-container relative-position">

  <i [routerLink]="['/index/pet-list']" class="material-icons md-48 go-back-icon">keyboard_backspace</i>

  <div id="pet-image-cicrle" class="align-center mt-4" [style.background-image]="'url(' + petPicture + ')'"></div>
  
 
    <div class="row mt-4">
      <div class="col-4">
          <h4 class="align-left mt-3">Pet info</h4>
          <h5>Location:</h5>
          <p>{{value.location}}</p>
          <h5>Animal:</h5>
          <p>{{value.animal}}</p>
      </div>
      <div class="col-8 text-left">
          <h2 class="text-left">About {{value.name}}:</h2>
          <p style="text-indent: 50px;">{{value.description}}</p> 
      </div>
    </div>
</div>