<div class="container custom-register-container">
  <div id="pet-image-cicrle" class="align-center mt-4" style="background-image: url(https://m.blog.hu/cu/cukifaktor/image/4_18.jpg)"></div>
  <h2 class="mt-4">Fluff</h2>
    <div class="row mt-4">
      <div class="col-6">
        <h4 class="align-center">Owner info</h4>
        <ul>
          <li>Owner first name</li>
          <li>Owner last name</li>
          <li>Location</li>
          <li>Email</li>
          <li>Phone</li>
        </ul>
      </div>
      <div class="col-6">
          <h4 class="align-center">Pet info</h4>
          <ul>
              <li>Animal</li>
              <li>Location</li>
              <li>Description</li>
            </ul>
      </div>
    </div>
</div>