<!-- MAIN NAVBAR -->
<mat-toolbar class="row">

  <div class="col-auto">
    <button mat-button routerLink="index">
      <i class="material-icons md-36">pets</i>
    </button>
  </div>

  <div class="col-auto ml-auto">
    <button mat-button routerLink="login">Login</button>
    <button mat-button routerLink="register">Register</button>
    <button mat-button (click)="sidenav.toggle()">
      <i class="material-icons md-36">account_circle</i>
    </button>
  </div>

</mat-toolbar>
<!-- MAIN NAVBAR END -->

<!-- SIDEBAR CONTAINER -->
<mat-sidenav-container class="example-container">
  <!-- ACTUAL SIDEBAR CONTENT -->
  <mat-sidenav class="sidebar" #sidenav mode="over" position="end">
    <p><button (click)="sidenav.toggle()"><i class="material-icons">close</i></button></p>
    <p>

      <ul>
        <li>Edit profile</li>
        <li>My pets</li>
        <li>Add pet</li>
      </ul>
      
  </mat-sidenav>

  <!-- WEBPAGE CONTENT -->
  <mat-sidenav-content>
   
    <div style="text-align:center; width:900px; margin: auto;"> 
      <router-outlet></router-outlet>
    </div>
    <div class="footer"></div>

  </mat-sidenav-content>
</mat-sidenav-container>
<!-- SIDEBAR CONTAINER END -->