<!-- MAIN NAVBAR -->
<mat-toolbar class="row">

  <div class="col-auto">
    <button mat-button routerLink="index/pet-list">
      <i class="material-icons md-36">pets</i>
    </button>
  </div>

  <div class="col-auto ml-auto">
    <button mat-button routerLink="login">Login</button>
    <button mat-button routerLink="register">Register</button>
    <button mat-button *ngIf="isLoggedIn$ | async" (click)="sidenav.toggle()">
      <i class="material-icons md-36">account_circle</i>
    </button>
  </div>

</mat-toolbar>
<!-- MAIN NAVBAR END -->

<!-- SIDEBAR CONTAINER -->
<mat-sidenav-container class="example-container">
  <!-- ACTUAL SIDEBAR CONTENT -->
  <mat-sidenav class="sidebar" #sidenav mode="over" position="end">
    <p><button class="close-sidenav-button" (click)="sidenav.toggle()"><i class="material-icons md24">close</i></button></p>
    <p>

    <div id="profile-pic-sidenav" class="align-center mb-4"></div>

      <ul id="side-nav-ul">
        <li><a [routerLink]="['../profile']">Edit profile</a></li>
        <li><a [routerLink]="['../my-pets']">My pets</a></li>
        <li><a [routerLink]="['../add-pet']">Add pet</a></li>
      </ul>

      <button (click)="logout()" (click)="sidenav.toggle()" id="logout-button"><i class="material-icons md-36">exit_to_app</i></button>
      
  </mat-sidenav> 

  <!-- WEBPAGE CONTENT -->
  <mat-sidenav-content>
   
    <div style="text-align:center; width:900px; margin: auto;"> 
      <router-outlet></router-outlet>
    </div>
    <div class="footer"></div>

  </mat-sidenav-content>
</mat-sidenav-container>
<!-- SIDEBAR CONTAINER END -->