button {
    border: none;
    box-shadow: none;
    outline: none;
}

button:focus{
    border: none;
    box-shadow: none;
    outline: none;
}

.vertical-center {
    position: absolute;
    top: 20%;
    left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.primary {
    color: #4a5eba;
}