/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; /*importing a prebuilt theme*/

/* ALL */
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; box-sizing: border-box; }

button {
    border: none;
    box-shadow: none;
    outline: none;
}

button:focus{
    border: none;
    box-shadow: none;
    outline: none;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* REGISTER */

.button-row button,
.button-row a {
  margin-right: 8px;
}

h3{
  margin-top: 15px;
}
.radio-group {
  display: inline-flex;
  flex-direction: row;
  margin-top: 20px;
}

.radio-button {
  margin: 5px;
}

.selected-value {
  margin: 15px 0;
}

.info-group{
  display: inline-flex;
  flex-direction: column;
  margin-top: 20px;
}

.primary {
  color: #269161 !important;
}

.custom-register-container {
  background-color:rgb(255, 255, 255); 
  padding: 40px; 
  margin-top: 50px;
  margin-bottom: 100px;
  padding-bottom: 100px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

/* LOGIN */

.vertical-center {
    position: absolute;
    top: 20%;
    left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.custom-login-container {
  background-color:rgb(255, 255, 255); 
  padding: 40px; 
  width: 400px; 
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

/* INDEX */
.index-radio-button .mat-radio-container{
  visibility: hidden;

}

.index-radio-button .mat-radio-label {
  padding-right: 25px;
  font-size: x-large;
}

.cool-link{
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px;
  color: #000;
}

.cool-link::after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.cool-link:hover::after {
  width: 100%;
  background: black;
}

/* SITTER LIST */

  .card-container{
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

/* PET LIST */

.list-picture{
  height: 300px !important;
  width: auto;
  object-fit: cover !important;
  z-index: 0;
}

.card-img-caption{
  position: relative;
  height:  300px !important;
  max-width: 100%;
}

.text{
  background-image: linear-gradient(to right top, #c93d3d, #d96334, #e2892f, #e3ae36, #ded24c);
  opacity: 0;
  text-align: center;
  width: calc(100% + 48px);
  margin: 0 -24px 0px -24px;
  position: absolute;
  bottom:0;
  z-index: 1;
  transition: 1s all;
  cursor: pointer;
  color: white;
  height: 300px;
}

.text:hover{
  opacity: 0.1;
}

.example-card {
  padding: 24px 24px 0px 24px !important;
}


/* FOOTER */

/* .footer{
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-color: #677b6bd9;
  margin-top: 100px;
} */