/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; /*importing a prebuilt theme*/

/* ALL */
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; box-sizing: border-box; }

button {
    border: none;
    box-shadow: none;
    outline: none;
}

button:focus{
    border: none;
    box-shadow: none;
    outline: none;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* REGISTER */

.button-row button,
.button-row a {
  margin-right: 8px;
}

h3{
  margin-top: 15px;
}
.radio-group {
  display: inline-flex;
  flex-direction: row;
  margin-top: 20px;
}

.radio-button {
  margin: 5px;
}

.selected-value {
  margin: 15px 0;
}

.info-group{
  display: inline-flex;
  flex-direction: column;
  margin-top: 20px;
}

.primary {
  color: #4a5eba !important;
}

/* LOGIN */

.vertical-center {
    position: absolute;
    top: 20%;
    left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: translateX(-50%);
}

/* INDEX */
.index-radio-button .mat-radio-container{
  visibility: hidden;

}

.index-radio-button .mat-radio-label {
  padding-right: 25px;
  font-size: x-large;
}

.cool-link{
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px;
  color: #000;
}

.cool-link::after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.cool-link:hover::after {
  width: 100%;
  background: black;
}

/* SITTER LIST */

  .card-container{
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }